canvas {
	border: 10px solid darkblue;
	background-color: black;
}

video {
	display: none;
}

#clickme {
	position: absolute;
	display: inline-block;
	color: red;
	font-size: 30px;
	padding-left: 5%;
	padding-top: 5%;

}
